{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-md-12"><br>Спасибо за участие!<br>Хотите посмотреть правильные ответы?<br><br><br>
            <a class="btn btn-outline-dark btn-lg" href="http://127.0.0.1:5000/check" role="button" >Посмотреть ответы</a>
            <a class="btn btn-outline-dark btn-lg" href="http://127.0.0.1:5000/res" role="button" >Перейти к статистике</a>
        </div>
    </div>
</div>
{% endblock %}