{% extends 'base.html' %}

{% block text %}
{{ super() }}
Ответы<br><br>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">

<!--questions-->
    <div class="row">
        <div class="col-md-12" style="height: 60px" align="center"><h4>Разные</h4></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-3 rounded-left" style="background-color: rgb(204, 204, 0); height: 180px;"></div>
        <div class="col-md-3 rounded-right" style="background-color: rgb(102, 204, 0); height: 180px;"></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-12" style="height: 100px"></div>
        <div class="col-md-12" style="height: 60px" align="center"><h4>Разные</h4></div>
        <div class="col-md-3" style="height: 200px;" align="center"></div>
        <div class="col-md-3 rounded-left" style="background-color: rgb(158, 117, 184); height: 180px;"></div>
        <div class="col-md-3 rounded-right" style="background-color: rgb(158, 104, 174); height: 180px;"></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-12" style="height: 100px"></div>
        <div class="col-md-12" style="height: 60px" align="center"><h4>Разные</h4></div>
        <div class="col-md-3" style="height: 200px;" align="center"></div>
        <div class="col-md-3 rounded-left" style="background-color: rgb(255, 153, 153); height: 180px;"></div>
        <div class="col-md-3 rounded-right" style="background-color: rgb(255, 153, 204); height: 180px;"></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-12" style="height: 100px"></div>
        <div class="col-md-12" style="height: 60px" align="center"><h4>Разные</h4></div>
        <div class="col-md-3" style="height: 200px;" align="center"></div>
        <div class="col-md-3 rounded-left" style="background-color: rgb(153, 51, 0); height: 180px;"></div>
        <div class="col-md-3 rounded-right" style="background-color: rgb(153, 51, 51); height: 180px;"></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-12" style="height: 100px"></div>
        <div class="col-md-12" style="height: 60px" align="center"><h4>Разные</h4></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-3 rounded-left" style="background-color: rgb(153, 204, 255); height: 180px;"></div>
        <div class="col-md-3 rounded-right" style="background-color: rgb(167, 201, 238); height: 180px;"></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-12" style="height: 100px"></div>
        <div class="col-md-12" style="height: 60px" align="center"><h4>Разные</h4></div>

        <div class="col-md-3" style="height: 200px;" align="center"></div>
        <div class="col-md-3 rounded-left" style="background-color: rgb(204, 204, 204); height: 180px;"></div>
        <div class="col-md-3 rounded-right" style="background-color: rgb(199, 204, 209); height: 180px;"></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-12" style="height: 100px"></div>
        <div class="col-md-12" style="height: 60px" align="center"><h4>Разные</h4></div>

        <div class="col-md-3" style="height: 200px;" align="center"></div>
        <div class="col-md-3 rounded-left" style="background-color: rgb(255, 204, 153); height: 180px;"></div>
        <div class="col-md-3 rounded-right" style="background-color: rgb(255, 204, 102); height: 180px;"></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-12" style="height: 100px"></div>
        <div class="col-md-12" style="height: 60px" align="center"><h4>Разные</h4></div>

        <div class="col-md-3" style="height: 200px;" align="center"></div>
        <div class="col-md-3 rounded-left" style="background-color: rgb(0, 26, 51); height: 180px;"></div>
        <div class="col-md-3 rounded-right" style="background-color: rgb(0, 0, 51); height: 180px;"></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-12" style="height: 100px"></div>
        <div class="col-md-12" style="height: 60px" align="center"><h4>Разные</h4></div>

        <div class="col-md-3" style="height: 200px;" align="center"></div>
        <div class="col-md-3 rounded-left" style="background-color: rgb(0, 0, 51); height: 180px;"></div>
        <div class="col-md-3 rounded-right" style="background-color: rgb(0, 0, 0); height: 180px;"></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-12" style="height: 100px"></div>
        <div class="col-md-12" style="height: 60px" align="center"><h4>Одинаковый</h4></div>
        <div class="col-md-3" style="height: 200px;" align="center"></div>
        <div class="col-md-3 rounded-left" style="background-color: rgb(175, 207, 175); height: 180px;"></div>
        <div class="col-md-3 rounded-right" style="background-color: rgb(175, 207, 175); height: 180px;"></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-12" style="height: 100px"></div>
        <div class="col-md-12" style="height: 60px" align="center"><h4>Разные</h4></div>
        <div class="col-md-3" style="height: 200px;" align="center"></div>
        <div class="col-md-3 rounded-left" style="background-color: rgb(230, 230, 230); height: 180px;"></div>
        <div class="col-md-3 rounded-right" style="background-color: rgb(230, 227, 216); height: 180px;"></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-12" style="height: 100px"></div>
        <div class="col-md-12" style="height: 60px" align="center"><h4>Разные</h4></div>
        <div class="col-md-3" style="height: 200px;" align="center"></div>
        <div class="col-md-3 rounded-left" style="background-color: rgb(255, 204, 178); height: 180px;"></div>
        <div class="col-md-3 rounded-right" style="background-color: rgb(255, 204, 204); height: 180px;"></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-12" style="height: 100px"></div>
        <div class="col-md-12" style="height: 60px" align="center"><h4>Разные</h4></div>
        <div class="col-md-3" style="height: 200px;" align="center"></div>
        <div class="col-md-3 rounded-left" style="background-color: rgb(115, 155, 206); height: 180px;"></div>
        <div class="col-md-3 rounded-right" style="background-color: rgb(132, 157, 189); height: 180px;"></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-12" style="height: 100px"></div>
        <div class="col-md-12" style="height: 60px" align="center"><h4>Одинаковый</h4></div>
        <div class="col-md-3" style="height: 200px;" align="center"></div>
        <div class="col-md-3 rounded-left" style="background-color: rgb(204, 153, 0); height: 180px;"></div>
        <div class="col-md-3 rounded-right" style="background-color: rgb(204, 153, 0); height: 180px;"></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-12" style="height: 100px"></div>
        <div class="col-md-12" style="height: 60px" align="center"><h4>Разные</h4></div>
        <div class="col-md-3" style="height: 200px;" align="center"></div>
        <div class="col-md-3 rounded-left" style="background-color: rgb(51, 204, 204); height: 180px;"></div>
        <div class="col-md-3 rounded-right" style="background-color: rgb(25, 230, 230); height: 180px;"></div>
        <div class="col-md-3" style="height: 200px;"></div>
        <div class="col-md-12">
            <a class="btn btn-outline-dark btn-lg" href="/res" role="button">статистика</a>
        </div>
    </div>
</div>
{% endblock %}