{% extends 'base.html' %}

{% block text %}
{{ super() }}
Здесь вы можете посмотреть результаты. (когда-нибудь, в рамки дедлайна это сложно успеть)<br><br>
А пока можно узнать только это:<br><br>
{% endblock %}

{% block content %}
{{ super() }}
На данный момент количество прошедших анкету: {{a}}.<br><br>
Количество человек, которые правильно ответили на самый сложный пункт с двумя серыми цветами (пара №6): {{b}}.
<br><br><br>
Таблицы результатов с фильтрами когда-нибудь возможно будут, если будет смысл заниматься этим дальше :)
{% endblock %}
